<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.mrbird.febs.cos.dao.RecordInfoMapper">

    <!-- 分页获取考试记录信息 -->
    <select id="selectRecordPage" resultType="java.util.LinkedHashMap">
        select
        ri.id,
        ri.student_id,
        ri.exam_id,
        ri.score,
        ri.remark,
        ri.end_date,
        si.name as studentName,
        si.images as studentImages,
        epi.exampaper_name
        from
        record_info ri
        left join student_info si on
        (si.id = ri.student_id)
        left join exam_paper_info epi on
        (epi.id = ri.exam_id)
        where
        1 = 1
        <if test="recordInfo.studentName != null and recordInfo.studentName != ''">
            AND si.name LIKE CONCAT('%',#{recordInfo.studentName},'%')
        </if>
        <if test="recordInfo.exampaperName != null and recordInfo.exampaperName != ''">
            AND epi.exampaper_name LIKE CONCAT('%',#{recordInfo.exampaperName},'%')
        </if>
        <if test="recordInfo.studentId != null and recordInfo.studentId != ''">
            AND si.user_id = #{recordInfo.studentId}
        </if>
        order by ri.end_date desc
    </select>

    <!-- 本月发帖 -->
    <select id="selectIncomeMonth" resultType="java.math.BigDecimal">
        SELECT
            IFNULL( count( 1 ), 0 )
        FROM
            post_info pr
        WHERE
                DATE_FORMAT( pr.create_date, '%Y%m' ) = DATE_FORMAT(
                    CURDATE(),
                    '%Y%m')
    </select>

    <!-- 本月工单 -->
    <select id="selectWorkOrderMonth" resultType="java.lang.Integer">
        SELECT
            IFNULL( count( 1 ), 0 )
        FROM
            record_info oi
        WHERE
                DATE_FORMAT( oi.end_date, '%Y%m' ) = DATE_FORMAT(
                    CURDATE(),
                    '%Y%m')
    </select>

    <!-- 本年发帖 -->
    <select id="selectIncomeYear" resultType="java.math.BigDecimal">
        SELECT
            IFNULL( count( 1 ), 0 )
        FROM
            post_info pr
        WHERE
                DATE_FORMAT( pr.create_date, '%Y' ) = DATE_FORMAT(
                    CURDATE(),
                    '%Y')
    </select>

    <!-- 本年工单 -->
    <select id="selectWorkOrderYear" resultType="java.lang.Integer">
        SELECT
            IFNULL( count( 1 ), 0 )
        FROM
            record_info oi
        WHERE
                DATE_FORMAT( oi.end_date, '%Y' ) = DATE_FORMAT(
                    CURDATE(),
                    '%Y')
    </select>

    <!-- 查询十天内发帖统计 -->
    <select id="selectPaymentRecord" resultType="java.util.LinkedHashMap">
        SELECT
            DATE_FORMAT( spo.days, '%m-%d' ) AS days,
            IFNULL(count(pr.id), 0) AS count
        FROM
            (
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
                SELECT
                    DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
                LEFT JOIN post_info pr ON (
                        DATE_FORMAT( pr.create_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
                )
        GROUP BY
            days
        ORDER BY
            days ASC
    </select>

    <!-- 十天内工单记录 -->
    <select id="selectOrderRecord" resultType="java.util.LinkedHashMap">
        SELECT
            DATE_FORMAT( spo.days, '%m-%d' ) AS days,
            IFNULL(COUNT(oi.id), 0) AS count
        FROM
            (
            SELECT
            DATE_SUB( curdate(), INTERVAL + 0 DAY ) days UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 1 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 2 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 3 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 4 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 5 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 6 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 7 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 8 DAY ) UNION
            SELECT
            DATE_SUB( curdate(), INTERVAL + 9 DAY )) spo
            LEFT JOIN record_info oi ON (
            DATE_FORMAT( oi.end_date, '%Y-%m-%d' ) = DATE_FORMAT( spo.days, '%Y-%m-%d' )
            )
        GROUP BY
            days
        ORDER BY
            days ASC
    </select>
</mapper>
